{% extends "base.html.j2" %}

{% block obsah %}

<p><strong>shhh TAJNÉ shhh</strong></p>

<a href="https://www.youtube.com/watch?v=rRPQs_kM_nw&ab_channel=10HoursMovies">shhhhhhh tajemství</a>

{% endblock obsah %}